<ion-header>
  <ion-toolbar>
    <ion-title>
      Iniciar Sesión
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input [(ngModel)]="username" type="text" placeholder="Ej: usuario123"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="password" type="password" placeholder="Ingrese su contraseña"></ion-input>
    </ion-item>
    <ion-item>
      <ion-toggle [enableOnOffLabels]="true">Recordar</ion-toggle>
    </ion-item>
  </ion-list>
  
  <!-- Botón de inicio de sesión con spinner -->
  <ion-button expand="full" (click)="login()" [disabled]="isLoading">
    {{ isLoading ? 'Iniciando Sesion...' : 'Iniciar Sesión' }}
    <ion-spinner name="circular" *ngIf="isLoading"></ion-spinner>
  </ion-button>

</ion-content>
