<!-- welcome-cond.page.html -->
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
   
  </ion-header>


  <!-- Contenedor de la imagen y el mensaje de bienvenida -->
  <div class="welcome-container">
    <!-- Imagen de usuario prototipo -->
    <img src="assets/user1.jpg" alt="Usuario Prototipo" class="user-image" />

    <!-- Mensaje de bienvenida -->
    <p class="welcome-message">¡Bienvenido {{ username }}!</p>
    <p>Usuario: {{ role }}</p>

    <div class="form-container">
      <form (ngSubmit)="CrearViaje()">
        <ion-item>
          <ion-label position="floating">Origen</ion-label>
          <ion-input [(ngModel)]="viajeData.origen" name="origen" required></ion-input>
        </ion-item>

      <ion-item>
        <ion-label position="floating">Destino</ion-label>
        <ion-input [(ngModel)]="viajeData.destino" name="destino" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Precio</ion-label>
        <ion-input [(ngModel)]="viajeData.precio" name="precio" type="number" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Asientos Disponibles</ion-label>
        <ion-input [(ngModel)]="viajeData.asientosDisponibles" name="asientosDisponibles" type="number" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Hora de Inicio</ion-label>
        <ion-input [(ngModel)]="viajeData.horaInicio" name="horaInicio" type="text" (click)="openHourPicker()" required></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Día de Inicio</ion-label>
        <ion-input [(ngModel)]="viajeData.diaInicio" name="diaInicio" type="text" (click)="openDatePicker()" required></ion-input>
      </ion-item>

      <ion-button type="submit" expand="full">Crear Viaje </ion-button>
        <ion-button (click)="verMisViajes()" expand="full">Ver Mis Viajes</ion-button>
      </form>
    </div>
  </div>
</ion-content>