
ion-content {
  background-color: #f0f0f0;
}

.welcome-container {
  text-align: center;
  padding: 20px;

  .user-image {
    max-width: 100px;
    border-radius: 50%; 
  }

  .welcome-message {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }
}


.form-container {
  background-color: transparent; 
  border-radius: 10px; 
  padding: 20px;
  margin-top: 20px; 
  text-align: center;
  box-shadow: 0 8px 16px rgb(125, 162, 243); 



  ion-button {
    margin-top: 10px; 
  }
}
.form-container {


  ion-item {
    
    --background: transparent;
    box-shadow: 0 8px 16px rgb(3, 25, 68); 
  }
}



