/* detalles-viaje.page.scss */

  .detalles-container {
    text-align: center;
    padding: 20px;
    margin: 20px;

    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para resaltar el contenedor */
  }
  
  p {
    font-size: 16px;
    margin: 5px 0; /* Ajusta el margen según tus preferencias */
  }
  
  ion-list {
    margin-top: 20px;
  }
  

  
  /* Ajusta los estilos según sea necesario */
  