<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Detalles del Viaje</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="detalles-container" *ngIf="viaje">
    <!-- Mostrar detalles del viaje -->
    <p>Conductor: {{ viaje.conductor.username }}</p>
    <p>Origen: {{ viaje.origen }}</p>
    <p>Destino: {{ viaje.destino }}</p>
    <p>Precio: ${{ viaje.precio }}</p>
    <p>Asientos Disponibles: {{ viaje.asientosDisponibles }}</p>
    
    <!-- Mostrar información de los pasajeros -->
    <ion-list *ngIf="viaje.pasajeros && viaje.pasajeros.length > 0">
      <ion-item *ngFor="let pasajero of viaje.pasajeros">
        Pasajero : {{ pasajero.username }}
      </ion-item>
    </ion-list>
    <p *ngIf="!viaje.pasajeros || viaje.pasajeros.length === 0">No hay pasajeros.</p>
  </div>
</ion-content>
