/* detalles-viaje.page.scss */
ion-title {
  color: #ecf0f1; /* Blanco */
}

ion-list, ion-item, ion-item-group {
  --background: rgba(7, 37, 94, 0.5); /* Azul con opacidad */
}

ion-toolbar {
  --background: transparent; /* Hace que el fondo del toolbar sea transparente */
}


.detalles-container {
  padding: 25px;
  margin: 25px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgb(125, 162, 243); 
 
}

p {
  font-size: 16px;
  margin: 5px 0;
  color: #ecf0f1; /* Blanco */
}

ion-list {
  margin-top: 20px;
}

/* Estilo para el caso de no haber pasajeros */
.no-pasajeros {
 
  color: #bdc3c7; /* Gris claro */
}

/* Nuevas reglas para elementos internos de ion-item */
ion-item-inner, .input-wrapper, .item-inner {
  --background: transparent !important;
}

/* Estilo específico para el contenido del pasajero */
ion-item p {
  color: #ecf0f1; /* Blanco */
}



/* Estilo específico para el botón de Comenzar Viaje */



