<!-- welcome.page.html -->
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">¡Bienvenido, {{ username }}!</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="welcome-container">
    <img src="assets/user.png" alt="Usuario Prototipo" class="user-image" />
    <p class="welcome-message">¡Hola, {{ username }}!</p>
    <p>Tu rol: {{ role }}</p>
  </div>

  <ion-list>
    <ion-item *ngFor="let viaje of viajesDisponibles" class="viaje-item">
      <div class="viaje-info">
        <ion-label class="viaje-label">Origen:</ion-label>
        <ion-label class="viaje-label">Destino:</ion-label>
        <ion-label class="viaje-label">Precio:</ion-label>
        <ion-label class="viaje-label">Asientos:</ion-label>
      </div>
      <div class="viaje-values">
        <ion-label class="viaje-label">{{ viaje.origen }}</ion-label>
        <ion-label class="viaje-label">{{ viaje.destino }}</ion-label>
        <ion-label class="viaje-label">${{ viaje.precio }}</ion-label>
        <ion-label class="viaje-label">{{ viaje.asientosDisponibles }}</ion-label>
      </div>
       <!-- Agrega un botón para mostrar detalles del viaje, puedes personalizar esto según tus necesidades -->
       <ion-button (click)="solicitarViaje(viaje)">Solicitar Viaje</ion-button>
      <!-- Agrega un botón para mostrar detalles del viaje, puedes personalizar esto según tus necesidades -->
    </ion-item>
  </ion-list>
</ion-content>
