<!-- welcome.page.html -->
<ion-content [fullscreen]="true">

  <div class="welcome-container">
    <img src="assets/user1.jpg" alt="Usuario Prototipo" class="user-image" />
    <p class="welcome-message">¡Hola, {{ username }}!</p>
    <p>{{ role }}</p>
  </div>

  <ion-list>
    <ion-item *ngFor="let viaje of viajesDisponibles" class="viaje-item">
      <div class="viaje-info">
        <ion-label class="viaje-label">Origen:</ion-label>
        <ion-label class="viaje-label">Destino:</ion-label>
        <ion-label class="viaje-label">Precio:</ion-label>
        <ion-label class="viaje-label">Asientos:</ion-label>
        <ion-label class="viaje-label">Dia:</ion-label>
        <ion-label class="viaje-label">Hora:</ion-label>
        
      </div>
      <div class="viaje-values">
        <ion-label class="viaje-label">{{ viaje.origen }}</ion-label>
        <ion-label class="viaje-label">{{ viaje.destino }}</ion-label>
        <ion-label class="viaje-label">${{ viaje.precio }}</ion-label>
        <ion-label class="viaje-label">{{ viaje.asientosDisponibles }}</ion-label>
        <ion-label class="viaje-label">{{ viaje.diaInicio }}</ion-label>
        <ion-label class="viaje-label">{{ viaje.horaInicio }}</ion-label>

      </div>
      <ion-button (click)="solicitarViaje(viaje)">Viajar</ion-button>
    </ion-item>
    
  </ion-list>
  <ion-refresher slot="fixed"  (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Tire para refrescar" refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>
</ion-content>
