/* welcome-cond.page.scss */


.welcome-container {
  text-align: center;
  padding: 20px;

  .user-image {
    max-width: 100px;
    border-radius: 50%; /* Bordes redondeados para la imagen */
  }

  .welcome-message {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }
}

ion-content {
  .viaje-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .viaje-item {
    /* Color de fondo de cada elemento de viaje */
    margin: 10px; /* Espaciado entre elementos */
    padding: 15px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    color: #fff; /* Color del texto */
    width: 80%; /* Ajusta el ancho según tus necesidades */
  }

  .viaje-label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
  }
}

  .viaje-info,
  .viaje-values {
    flex: 1;
  }
  .solicitar-button {
    width: 120px;
    margin-top: 10px;
  }


