/* Estilo del icono y los inputs */


.customicon {
    color: #1258a3; /* Color del icono (azul) */
  }
  
  .rounded-input {
    --border-radius: 20px; /* Ajusta este valor según tu preferencia */
  --border-width: 1px; /* Grosor del borde */
  --border-color: #1258a3; /* Color del borde */
  --border-style: solid;
  --background: #cedceb; /* Color de fondo */
  --padding-start: 10px; /* Espacio en el lado izquierdo del input */
  --padding-end: 10px;
  }
  
  /* Estilo del botón */
  .custom-button {
    background-color: #1258a3; /* Fondo azul */
    color: #fff; /* Texto blanco */
    border: none; /* Sin borde */
    margin-top: 20px; /* Espacio en la parte superior del botón */
  }
  
  .custom-button:hover {
    background-color: #0e4568; /* Cambio de color al pasar el mouse */
  }
  
  /* Centrar contenido */
  .center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh; /* Ajustar la altura según sea necesario */
  }

  ion-list{
    --ion-color: #cedceb;
    background-color: #9acafc;
  }
