<ion-header>
  <ion-toolbar>
    <ion-title class="title">
      Te LLevo App
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button (click)="navigateToRegistration()" expand="block" color="primary">Registrate</ion-button>
        <div class="account">Ya tienes Cuenta?</div>
        <ion-button (click)="navigateToLogin()" expand="block" color="danger">Log In</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
